@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
a {
  text-decoration: none;
  color: white;
}
.head {
  width: 100%;
  height: 1.17333333rem;
  background: #f0f0f0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0rem;
  z-index: 9;
}
.head .p11 {
  width: 80%;
  text-align: center;
  height: 100%;
  line-height: 1.17333333rem;
  font-size: 0.53333333rem;
  font-family: "宋体";
  color: gray;
}
.head .s11 {
  width: 20%;
  height: 100%;
  line-height: 100%;
}
.lun {
  width: 100%;
  height: 5.68rem;
  position: relative;
  overflow: hidden;
}
.lun .l1 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.lun .l1 .li1 {
  width: 100%;
  height: 100%;
  float: left;
  list-style: none;
}
.lun .l1 .li1 a {
  width: 100%;
  height: 5.68rem;
}
.lun .l1 .li1 a img {
  width: 100%;
  height: 100%;
}
.leiyong {
  width: 100%;
  height: 0.93333333rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leiyong .s2 {
  font-size: 0.53333333rem;
  width: 70%;
  font-family: "宋体";
  color: gray;
}
.leiyong .s3 {
  font-size: 0.4rem;
  width: 12%;
  color: gray;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  font-family: "宋体";
}
.boss {
  width: 100%;
  height: 3.2rem;
  overflow: auto;
}
.boss .boss1 {
  width: 280%;
  height: 100%;
}
.boss .u1 {
  height: 100%;
}
.boss .u1 li {
  width: 10%;
  height: 100%;
  float: left;
  list-style: none;
}
.boss .u1 li a {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: space-around;
}
.boss .u1 li a img {
  height: 2.4rem;
}
.boss .u1 li a > .s1 {
  width: 100%;
  color: gray;
  font-size: 0.33333333rem;
  font-family: "宋体";
  text-align: center;
  margin-top: 0.13333333rem;
}
.tuijian {
  width: 100%;
  height: 9.06666667rem;
}
.tuijian .t1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.tuijian .t1 li {
  width: 48%;
  height: 4.4rem;
  list-style: none;
}
.tuijian .t1 li a {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
}
.tuijian .t1 li a img {
  height: 3.2rem;
  width: 100%;
}
.tuijian .t1 li a .zhi1 {
  color: gray;
  font-size: 0.4rem;
  font-family: "宋体";
  text-align: center;
  height: 0.53333333rem;
  margin-top: 0.13333333rem;
}
.tuijian .t1 li a .m1 {
  width: 100%;
  color: red;
  font-size: 0.26666667rem;
  font-family: "宋体";
  text-align: center;
  height: 0.4rem;
  margin-top: 0.13333333rem;
}
.dibu {
  width: 100%;
  height: 1.30666667rem;
  background: #f0f0f0;
  position: fixed;
  bottom: 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dibu .one {
  width: 20%;
}
.dibu .one > a {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-around;
}
.dibu .one > a p {
  width: 100%;
  color: gray;
  font-size: 0.4rem;
  text-align: center;
}
