*{
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
}
li{
	list-style: none;
}
a:hover{
	text-decoration:none;
}
.box{
	width: 100%;
	background: #E3E3E3;
	padding:1rem 0rem;
}
.box>.p1{
	text-align: center;
	margin-bottom: 0px;
}
.zhu1>p{
	color:gray;
}
.tua{
    width: 5.5rem;
    height: 8rem;
    background: url(../img/community-sprite-with-youtube.svg) no-repeat;
    background-size: 35rem 16rem;
    margin: auto;
}
.c0{
  	background-position: -286px -42px;
}
.c1{
  	background-position: -71px -42px;
}
.c2{
  	background-position: -145px -42px;
}
.c3{
	width: 6rem;
  	background-position: -214px -42px;
}
.c4{
	width: 6rem;
  	background-position: 0px -42px;
}
.c5{
  	background-position: -353px -42px;
}
.caca{
	text-align: center;
}
.ztu{
	padding: 3rem 0rem;
	border-bottom: 2px solid lightgray;
}
.ztu1{
	padding: 3rem 0rem;
}
.ztu1:hover{
	background:#F2F2F2;
}
.ztu:hover{
	background:#F2F2F2;
}
.ztu em{
	font-style: normal;
	display: inline-block;
	float: right;
	color: black;
}
.ztu .ww{
	font-size: 2rem;
}
.ztu1 em{
	font-style: normal;
	display: inline-block;
	float: right;
	color: black;
}
.ztu1 .ww{
	font-size: 2rem;
}
#chuf .nav1 a{
	color: gray;
	position: relative;
	display:block;
}
#chuf .nav1 a::before{
	content:"{";
	color:#bbb;
	font-size: 1rem;
	position: absolute;
	top:1rem;
	left:0px;
	display: none;
}
#chuf{
	padding-top: 2rem;
}
#chuf .nav1 a:hover:before{
	display: block;
	font-weight: bold;
}
.three{
	width: 80%;
	padding:1rem 3rem;
	background: #EBEBE4;
	margin-bottom: 3rem;
}
.three button{
	padding: 0.4rem 2rem;
	font-size: 1.5rem;
	border: none;
	outline: none;
	color: white;
	background: #373277;
}
.three .head>h4{
	float:left;
}
.three .head>span{
	float:right;
}
.nav>li>a:hover>i{
	font-style: normal;
	display: inline-block;
}
.nav>li>a:hover{
	color:blue;
}
.panel-collapse{
	border-left: 1px solid blue;
}
.panel-heading{
	border-left: 1px solid lightgray;
}
.panel-heading:hover{
border-left: 1px solid blue;
}
.panel-group .panel + .panel {
	border: none;
     margin-top: 0px; 
     border-radius:0px;
}
.panel-title {
font-size: 1.2rem;
color:gray;
}
.panel-title>span{
	width: 1rem;
	height: 1rem;
	display: none;
}
.panel-title:hover>span{
display: inline-block;
}
.biaodan>select{
	width: 30%;
	padding: 1rem;
	font-size: 1rem;
}
.dibu {
	height: auto;
	background: #333333;
	padding: 1rem 0 1rem 0;
	color: white;
}
.cc1{
	padding-top: 1rem;
}
.cc2{
	padding-top: 1rem;
}
.cc2 li{
	float: left;
}
.ditu{
	display: inline-block;
	width: 8rem;
	height: 2rem;
	background:url("../img/microsoft-logo.png") no-repeat;
	background-size: 8rem 2rem;
}
.cc2 ol{
	display: flex;
	justify-content: space-around;
}
.cc2 a{
	color:white;
}
.f2{
	padding: 0.2rem;
	background: white;
	border-radius:3px;
	color: black;
}
.f3{
	padding: 0.2rem;
	background: white;
	border-radius:3px;
	color:black;
	position: relative;
}
.f1{
	color:white;
}
.f3::before{
	content: "";
	width: .5rem;
	height:.5rem;
	display: block;
	transform:rotate(45deg);
	background:white;
	position: absolute;
	top:40%;
	left:-7%;
}
.dibu em{
	width: 10px;
	height:10px;
	display: inline-block;
	background: url("../img/ww.png") no-repeat;
	background-size: 10px;
}