*{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
a:hover{
	text-decoration:none;
}
.box{
	width: 100%;
	background: #E3E3E3;
	padding:1rem 0rem;
}
.p1{
	text-align: center;
	margin-bottom: 0px;
}
.banner{
	width:100%;
	height:auto;
	background:#373277; 
}
.one{
	text-align: center;
}
.banner h1{
		color: white;
		font-size: 5rem;
		font-family: "宋体";
}
.p2{
	color:#AFADC8;
	font-size: 2rem;
	font-family: "宋体";
}
.anniu{
	width:100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items:center;
	position: relative;
}
.bom{
	position: absolute;
	top:7.2rem;
	left:0px;
	width: 99%;
	height:auto;
	background:lightgray;
	z-index: 1;
}
.btn1{
	width: 80%;
	background: #58973E;
	outline: none;
	border: none;
	font-size: 1.8rem;
	color:white;
	padding:1.5rem 3rem;
}
.btn2{
	width:15%;
	background: #58973E;
	outline: none;
	border: none;
	font-size:1.8rem;
	color:white;
	padding:2.55rem 2.5rem;
}
.p3{
	width: 100%;
	height:auto;
	background:#272354;
	border-radius: 8px;
	font-size:1.5rem;
	margin-top:2rem;
	padding: 1rem 0rem;
	position: relative;
}
.p3::after{
	content: "";
	width: 1.4rem;
	height:1.4rem;
	display: block;
	transform:rotate(45deg);
	background:#272354;
	position: absolute;
	top:-.7rem;
	right:5%;
}
.p4{
	font-size: 1.5rem;
	color: #A09DBE;
}
.s1{
	display: block;
}
.rtu{
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 100%;
	background:url("../img/home-screenshot-linux-lg.png") no-repeat;
	background-size:750px;
	padding-bottom:70%;
}
.boss{
	width: 100%;
	text-align: center;
}
.aa{
	display: block;
	padding: 3rem 0rem;
}
.aa:hover{
	background: lightgray;
}
.aa:hover>.zz{
	color:black;
}
.yi{
	margin:auto;
	width:5rem;
	height:5rem;
	background:url("../img/valueprops-top-sprite.svg") no-repeat;
	background-size: 20rem 10rem;
}
.aa:hover>.y1{
	background-position: 0px -5rem;
}
.aa:hover>.y2{
	background-position: -5rem -5rem;
}
.aa:hover>.y3{
	background-position: -10rem -5rem;
}
.aa:hover>.y4{
	background-position: -15rem -5rem;
}
.y1{
	background-position: 0px 0px;
}
.y2{
	background-position: -5rem 0px;
}
.y3{
	background-position: -10rem 0px;
}
.y4{
	background-position: -15rem 0px;
}
.zz{
	font-size:2rem;
	color:gray;
	line-height:3rem;
}
.lunb{
	width:100%;
	background: #F5F5F5;
}
.bao{
	width: 100%;
	padding: 6rem 0rem;
	position: relative;
}
.bb>img{
	width:7.2rem;
	height:7.2rem;
	border-radius: 50%;
}
.ssa{
	display: flex;
	justify-content:space-between;
}
.jies{
	padding: 0rem 2rem;
}
.pp{
	font-size:1.8rem;
	line-height: 2.4rem;
	font-family: "宋体";
}
.ji{
	color: black;
	font-weight: 600;
}
.ji:hover{
	text-decoration: underline;
	color:lightblue;
}
.al:hover{
	text-decoration: underline;
	color:blue;
}
.jies::after{
	content: "";
	width: 1.6rem;
	height:1.8rem;
	background: url("../img/firststart-sidebar-sprite.svg") no-repeat;
	background-size: 8rem 1.6rem;
	position: absolute;
	top:0rem;
	right:1.5rem;
	background-position:50% 50%;
	display: inline-block;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0,0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.sr-only{
	clip: auto;
	font-size:5rem;
	width: 5rem;
	height:5rem;
}
.sr-only:hover{
	color:gray;
}
.cp{
	width: 100%;
	padding: 6rem 0rem;
}
h3{
	line-height: 4rem;
	font-family: "宋体";
	color:gray;
}
.pq{
	line-height: 3rem;
	font-size: 2rem;
	font-family: "宋体";
	color: gray;
}
.xx>img{
	vertical-align: middle;
}
.cp1{
	width: 100%;
	padding: 6rem 0rem;
	background: #F5F5F5;
}
.sz{
	width: 100%;
	height:100%;
}
.project{
	width: 100%;
	padding: 6rem 0rem;
}
.bd{
	height:200px;
	width: 100px;
	position: relative;
	overflow: hidden;
}
.kl{
	position: absolute;
	top: 0px;
	left: 0px;
}
.kl>li{
	font-size: 3rem;
}
.pio{
	text-align: right;
	line-height:13rem;
	font-size: 3rem;
	color:gray;
	font-family: "宋体";
}
.ben{
	width:100px;
	height: 100%;
	position: absolute;
	z-index: 9;
	background:linear-gradient(to bottom, #fff, rgba(255,255,255,0), rgba(255,255,255,0), #fff);
}
.kuzhi{
	width: 100%;
	height: auto;
	background: #F5F5F5;
	padding:3rem 0rem;
}
.wen{
	width: 100%;
	height: auto;
	background: #F5F5F5;
	padding:3rem 0rem;
}
.wen a:hover{
	text-decoration: underline;
}
h4{
	text-align: center;
	line-height: 3rem;
	font-size: 3rem;
}
.ll{
	display: block;
	text-align: center;
	font-size: 1.5rem;
}
.shanw{
	padding-bottom:2.5rem;
}
.xiaw p,.xiaw h5{
text-align: center;
line-height: 3rem;
color: gray;
}
.ann{
	display: flex;
	justify-content: center;
}
.haha{
	text-align: center;
	padding: 1.6rem 4rem;
	font-size: 2rem;
	color:white;
	outline: none;
	border:none;
	background:#373277;
	margin-top: 3rem;
}
.haha:hover{
	background: #5D5990;
}
.xy{
	width:100px;
	height:100px;
	background: url("../img/windows-logo.png") no-repeat;
	background-size: contain;
	margin:0px auto;
}
.xy1{
	width:100px;
	height:100px;
	background: url("../img/linux-logo.png") no-repeat;
	background-size: contain;
	margin:0px auto;
}
.xy2{
	width:100px;
	height:100px;
	background: url("../img/apple-logo.svg") no-repeat;
	background-size: contain;
	margin:0px auto;
}
.uu{
	display: flex;
	justify-content: space-around;
	margin:1rem auto;
}
.ba1{
	outline: none;
	border:none;
	padding: 1rem 4rem;
	color:white;
	background:#373277;
	font-size: 2rem;
	display: block;
	margin:1rem auto;
}
.ba2{
	outline: none;
	border:none;
	padding: 1rem 0.8rem;
	color:white;
	background:#373277;
	font-size: 2rem;
	display: block;
}
.ba1:hover{
	background: #5D5990;
}
.ba2:hover{
	background: #5D5990;
}
.bv th, .bv td {
padding-right: 1rem;
	font-size: 1rem;
text-align: center;
vertical-align: middle!important;
}
.sv{
	display: flex;
	justify-content: center;
}
.dibu {
	height: auto;
	background: #333333;
	padding: 1rem 0 1rem 0;
	color: white;
}
.cc1{
	padding-top: 1rem;
}
.cc2{
	padding-top: 1rem;
}
.cc2 li{
	float: left;
}
.ditu{
	display: inline-block;
	width: 8rem;
	height: 2rem;
	background:url("../img/microsoft-logo.png") no-repeat;
	background-size: 8rem 2rem;
}
.cc2 ol{
	display: flex;
	justify-content: space-around;
}
.cc2 a{
	color:white;
}
.f2{
	padding: 0.2rem;
	background: white;
	border-radius:3px;
	color: black;
}
.f3{
	padding: 0.2rem;
	background: white;
	border-radius:3px;
	color:black;
	position: relative;
}
.f1{
	color:white;
}
.f3::before{
	content: "";
	width: .5rem;
	height:.5rem;
	display: block;
	transform:rotate(45deg);
	background:white;
	position: absolute;
	top:40%;
	left:-7%;
}
.dibu em{
	width: 10px;
	height:10px;
	display: inline-block;
	background: url("../img/ww.png") no-repeat;
	background-size: 10px;
}
@media  (min-width:767px) and (max-width:1199px) {
.l1{
	top:10rem;
	left:2%;
}
.l2{
	top:10rem;
	right:2%;
}
}
@media screen and (min-width:1200px) {
.l1{
	top:10rem;
	left:20%;
}
.l2{
	top:10rem;
	right:20%;
}
}
@media (max-width:1200px) and (min-width:990px) {
	.btn1{
	width: 78%;
	font-size: 1.3rem;
}
.btn2{
	width:15%;
	background: #58973E;
	outline: none;
	border: none;
	font-size:1.3rem;
	color:white;
	padding:2.26rem 2.5rem;
}
}
@media screen and (max-width:991px) {
	.rtu{
		max-width: 617px;
		margin:auto;
		background-size:100%;
	}
}
@media screen and (max-width:767px) {
.l1{
	top:13rem;
	left:2%;
}
.l2{
	top:13rem;
	right:2%;
}
.pio{
	text-align:center;
	line-height: 5rem;
}
.ben{
		text-align:center;
}
.bd{
		text-align:center;
}
.cp .xx{
	 margin-left: 25%;
}
.cp1 .xx{
	 margin-left: 25%;
}
.project .vg{
	margin-left: 25%;
}
}
@media (max-width:320px) {
	.btn1{
	    padding: 1.5rem 0rem;
}
	.btn2{
	    padding: 2.55rem 1.5rem;
}
}